<ion-content>
  <ion-header class="ion-flex">
    <p><strong>Welcome</strong>, Shuri Gomez </p>
    <div class="circulo">
      <div class="circulo-interno">
        <div class="imagen">
          <img src="../../assets/profile_27_67f69b60075f1.webp" alt="Imagen Usuario">
        </div>
      </div>
    </div>
  </ion-header>
  <div class="calendar-week">
    <div class="day" *ngFor="let day of daysOfWeek" [class.active]="isSelected(day.fullDate)"
      (click)="selectDay(day.fullDate)">
      <div class="dia">
        <div class="date">{{ day.date }}</div>
        <div class="weekday">{{ day.weekday }}</div>
      </div>
      <div class="dot"></div>
    </div>
  </div>
  <ion-card>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <div class="part3 container">
    <h2>Notes</h2>
    <div class="notes-list">
      
      <div *ngIf="loading" class="loading">
        Loading...
      </div>
      
      <div *ngIf="notes.length === 0 && !loading" class="no-notes">
        No notes found. Create your first note!
      </div>
      
      <div *ngFor="let note of notes" class="note-card">
        <div class="note-header">
          <p>{{ note.titulo }}</p>
        </div>
        
        <div class="note-content">
          {{ note.texto }}
        </div>
      </div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="book-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="hourglass-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="map-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>